.card-container {
    height: auto;
    overflow: hidden;
    width: 100%;
    min-width: 100%;
    
}

.myWorkRow {
    display: flex;
    width: 100%;
}


.card-body-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.text-card {
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}

.cardFooter {
    background-color: #D6C9B4;
    width: 100%;
    font-weight: bold;
}