.contactMeTitle {
    font-weight: 200;
    color: white;
    font-family: "Rufina", serif;
}

.hoGuzK {
    box-shadow: 0px 0px 0px 0px #D6C9B4 !important;
}

.labXzn {
    box-shadow: 0px 0px 0px 0px #D6C9B4 !important;
}

.hoGuzK:hover {
    box-shadow: 0px 0px 0px 3px #D6C9B4 !important;
}

.labXzn:hover {
    box-shadow: 0px 0px 0px 3px #D6C9B4 !important;
}

.FormField {
    font-size: large !important;
    color: white !important;
}

.FormField:focus {
    color: white;
    box-shadow: none;

}

.inputEmail {
    font-family: Roboto !important;
    letter-spacing: 1px;
    font-size: 25px !important;
    font-weight: 400 !important;
    background-color: white !important;
    color: black !important;
    opacity: 0.8;
    border-color: #D6C9B4 !important;
    border-style: solid !important;
}

.inputEmail:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #D6C9B4 !important;
}

.inputLabel {
    font-family: Roboto !important;
    font-size: 2px;
    font-weight: 400;
    color: white;
}


.ieVkaN {
    border-color: transparent !important;
}

.daLNjx {
    box-shadow: none !important;
    outline: none !important;
    border-color: gray;
}

.inputText {
    font-family: Roboto !important;
    letter-spacing: 1px;
    font-size: 25px !important;
    font-weight: 400 !important;
    background-color: white !important;
    color: black !important;
    opacity: 0.8;
    outline: 2px solid #D6C9B4 !important;
}

.inputText:focus {
    background-color: white !important;
    color: black !important;
    opacity: 0.8;
    border-style: solid !important;
    box-shadow: none !important;
    outline: 2px solid #D6C9B4 !important;
}