@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.containerFooter{
    background-color: #D6C9B4 !important;
    width: 100%;        
    bottom: 0;      
    box-sizing: border-box;
    height: 60px;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.name{
    padding-top: 15px;
}

.copyright{
    font-family: Roboto !important;
    font-size: 25px !important;
    color: #383C34;
    text-align: right;
    font-weight: 300;
    padding-top: 15px;
    font-weight: 400;
}

.linkFooter{
    font-family: Roboto !important;
    font-size: 25px !important;
    color: #383C34;
    text-align: right;
    font-weight: 300;
    padding-top: 15px;
    font-weight: 400;
}