.bg-body-tertiary {
    background-color: #E2E1CF !important;
}

.link {
    font-family: Roboto !important;
    font-size: 30px !important;
    color: black;
    font-weight: bold;
}

.containerNav {
    background-color: #E2E1CF !important;
    color: #E2E1CF !important;
    margin-left: 0;
    width: 100%;
}

.name {
    font-family: Roboto !important;
    font-size: 30px !important;
    color: black;
    text-align: right;
    font-weight: bold;
}