.mainHeader {
    background-color: #D6C9B4 !important;
    direction: row;

}
.headerTabs{
    text-decoration: none !important;
    font-size: 30px !important;
    font-weight: 500;
    color: black !important;
    line-height: normal !important;
    border: transparent !important;
    font-family: Roboto;
    border-bottom: none !important;
    text-decoration: none !important;
    border-bottom: none !important;
}

.bTetqL{
    border-bottom: solid 2px #000 !important;
}

.fQDdkN {
    text-decoration: none !important;
    font-size: 30px !important;
    font-weight: 500;
    color: black !important;
    line-height: normal !important;
    border: transparent !important;
    font-family: Roboto;
    border-bottom: none !important;
}

.fQDdkN:hover{
    text-decoration: none !important;
    font-size: 30px !important;
    font-weight: 500;
    color: black !important;
    line-height: normal !important;
    border: transparent !important;
    font-family: Roboto;
    border-bottom: none !important;
}

 .fQDdkN:active{
    text-decoration: none !important;
    font-size: 30px !important;
    font-weight: 500;
    color: black !important;
    line-height: normal !important;
    border: transparent;
    font-family: Roboto;
    border-bottom: none !important;
}
.cMLvYf{
    text-decoration: none !important;
    font-size: 30px !important;
    font-weight: 500;
    color: black !important;
    line-height: normal !important;
    border: transparent;
    font-family: Roboto;
}

.bnOyTz{
    text-decoration: none !important;
    font-size: 30px !important;
    font-weight: 500;
    color: black !important;
    line-height: normal !important;
    border: transparent;
    font-family: Roboto;
}

.gsldhk{
    border-color: black;
    border-width: 3px;
    border: black;
    font-family: Roboto;
} 

.toggleHeader{
    border-color: black;
    border-width: 3px;
    border: black;
    font-family: Roboto;
    font-weight: 700;
    color: #000;
    font-size: 40px !important;
}