@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.custom-link {
  text-decoration: none !important;
  font-size: 25px !important;
  font-weight: 600 !important;
  color: black !important;
  font-family: Roboto !important;
  margin-right: 20px;
  padding: 5px 10px
}

.custom-link:hover,
.custom-link:active,
.custom-link:visited {
  color: black !important;
}

.mainDis {
  background-color: #2F4156 !important;
  min-height: 100vh !important;
  overflow-y: auto;
  width: 100%;
  flex-direction: column;
}

h1 {
  font-size: 100px !important;
  text-align: center;
}

.NavbarContent {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.NavbarItem {
  font-size: 30px;
  font-family: Roboto !important;
}


.copyright {
  font-family: serif !important;
  font-size: 25px !important;
  color: #383C34;
  text-align: right;
  font-weight: bold;
  padding-left: 20px;
}

.content {
  flex: 1;
  padding-bottom: 40px;
}

.welcomeFont {
  font-size: 200px !important;
  font-weight: bold !important;
  color: white;
  font-family: "Rufina", serif;
  text-shadow: 6px 3px 4px #D6C9B4 !important;
  text-align: center;
  margin-top: 15%;
}

.annaPoglitsch {
  font-size: 60px !important;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  letter-spacing: 2px;

}

.annaPoglitschDiv {
  margin-left: 50%;
  margin-bottom: 20%;
  margin-top: -10%;
}

.mainAccessDiv {
  flex-direction: row;
  display: flex;
  margin-bottom: 5%;
  max-width: 100vw;
  justify-content: center;
}

.iconContainer {
  height: auto;
  align-self: center;
  justify-content: center;
  width: 50%;
  margin-left: 20%;
}

.mainTextContainer {
  width: 50%;
  color: white;
  
}

.titleText {
  font-family: Rufina, serif;
  font-size: 60px;
  border-color: white;
  border-width: 2px;
  margin-right: 20%;
  border: 3px solid white;
  justify-content: center;
  text-align: center;
}


.textParagraph {
  font-family: Roboto !important;
  font-size: 30px;
}

.paragraphTextDiv {
  margin-right: 10%;
}