.mainButton {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
    font-family: Roboto !important;
}

.mainButton:hover{
    color: black !important;
    background-color: white !important;
    border-color: white !important;
    font-family: Roboto !important;
}

.myCustomTab {
    font-size: 40px;
    font-weight: bold !important;
    color: black !important;
    text-decoration: none !important;
}

.myCustomTab:active {
    color: black !important;
    text-decoration: none !important;
}

.myCustomTab:hover {
    color: black !important;
    text-decoration: none !important;
}

.myCustomTab:focus {
    color: black !important;
    text-decoration: none !important;
}

.mainPage{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}  

.hDUHbF:hover {
    box-shadow: 0px 0px 0px 3px #D6C9B4 !important;
}