@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

.main-contentDiv {
    background-color: #2F4156 !important;
    min-height: 100vh;
}

.myWorkRow {
    margin-top: 20px;
    margin-bottom: 20px;
}

.workFont {
    font-family: "Rufina", serif !important;
    font-size: 100px !important;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

.IwantFont {
    font-family: Roboto !important;
    font-size: 40px !important;
    color: white;
    font-weight: bold;
    text-align: center;
}

.formWork {
    max-width: 160px;
    margin: 0 auto;
}

.formGroupWork {
    border: 2px solid #383C34;
    border-radius: 8px;
    margin-right: 10px;

}

.formControlWork {
    font-family: serif;
    font-weight: bold !important;
    font-size: 20px !important;
}

.formControlWork:disabled {
    font-family: serif;
    font-weight: bold !important;
    font-size: 20px !important;
}

.ButtonWork:hover {
    background: white;
    border-color: #383C34;
    color: #383C34;
}

.ButtonWork:focus {
    color: #383C34 !important;
    border-color: transparent !important;
    background: white !important;
}

.ButtonWork:disabled {
    color: #383C34 !important;
    border-color: transparent !important;
    background: white !important;
}

.cardContainerWork {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 100vh;
    width: 100%;
    margin-left: 4%;
}

.filterButton{
    background: transparent !important;
    font-family: serif;
    color: #383C34;
    border-color: transparent;
}

.btn:hover {
    background: white;
    font-family: serif;
    color: #383C34;
    border-color: transparent;
    border-radius: 20px;
    border-width: 2px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.btn-primary{
    background: white;
    font-family: serif;
    color: #383C34;
    border-color: transparent;
    border-radius: 20px;
    border-width: 2px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.btn:focus{
    color: #383C34 !important;
    border-color: transparent !important;
    background: white !important;
}

.Dropdown-control {
    overflow: hidden;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: black !important;
    cursor: default;
    outline: none;
    transition: all 200msease;
    padding: none !important;
    margin-right: 2% !important;
}