.card-container {
    height: auto;
    overflow: hidden;
}

.myWorkRow {
    overflow: hidden;
}

.buttonWork {
    background-color: #E2E1CF;
    border-color: #E2E1CF;
    color: black;
    margin-top: auto;
    width: 100px;
}

.buttonWork:focus {
    background-color: #E2E1CF;
    border-color: #E2E1CF;
    color: black;
}

.buttonWork:hover {

    background-color: #E2E1CF;
    border-color: #E2E1CF;
    color: black;
}

.card-body-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.text-card{
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}