.custom-link {
    text-decoration: none !important;
    font-size: 25px !important;
    font-weight: 600 !important;
    color: black !important;
    font-family: serif;
  }
  
  .custom-link:hover,
  .custom-link:active,
  .custom-link:visited {
    color: black !important;
  }